.assign-1-shape-1 {
padding: 20px 20px;
background-color: rgb(138, 43, 226);
margin: auto;
width: 200px;
}
.assign-1-shape-2{
padding: 20px 20px;
background-color: hsla(271, 76%, 53%, 50%); 
}
.assign-1-shape-3{
    padding: 20px 20px;
    
    background-color:#8a2be310;
    }