
.green,
.red,
.blue,
.black{
    width: 100px;
    height: 100px;
    position: absolute;
    margin: 100px;
}
.green{
    background-color: green;
    left: 35px;
    top: 35px;
    z-index: 3;
}
.red{
    background-color: red;
    left: 45px;
    top: 45px;
    z-index: 4;
}
.blue{
    background-color: cyan;
    left: 20px;
    top: 20px;
    z-index: 2;
}
.black{
    background-color: black;
    left: 20px;
    top: 35px;
    z-index: 1;
}
