.parent{
    width: 600px;
    height: 300px;
    margin: 20px auto;
    display: flex;
    flex-flow: column nowrap;   
    background-color: #eee;
    justify-content: space-between;
}
.parent div{
    background-color:#009688;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 31%;
    padding: 10px;
}
.three{
    order: 6;
    align-self: flex-end;
}
.one{
    order: 1;
    align-self: flex-end;
}
.two{
    order: 2;
    max-width: 50%;
}