*{
    box-sizing: border-box;
}
div.parant{
    border: 30px solid #eee;
    width: 1000px; 
    /* width: 800px; */
    margin: 20px auto;
    overflow: hidden;
}
.one,
.three,
.half,
.four{
    padding: 20px;
    text-align: center;
    font-size: 20px;
    background-color: gray;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
}
div .clear{
    clear: both;
}
.one-1{
    width: calc((100% - 30px) / 1);
}
.three{
    width: calc((100% - 60px) / 3);
}
.half{
    width: calc((100% - 45px) / 2);
}
.four{
    width: calc((100% - 75px) / 4);
    margin-bottom: 15px;
}
/* ---------------------------------------2-------------------------------- */

